@using VendasCelulares.Models;


<head>

</head>
<html>
<body class="Home">

    <header>
        <div class=" header_area--top">

         <div class="Header_Container">
                 <div class="_Logo">

                 </div>

                 <div class="_Busca">

                 </div>

                 <div class="PreNav">

                 </div>

                 <div class="User">

                 </div>

                 <div class="Carrinho">

                 </div>

           </div>
        </div>

    </header>


    <main>
        <table class="table">


            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Cor</th>
                <th>Imagem</th>

            </tr>

            @foreach (Produto p in ViewBag.produtos)

            {
                <tr>
                    <td>@p.NomeProduto</td>
                    <td>@p.Preco</td>
                    <td>@p.Cor</td>
                    <td><img src="/Imagens @p.Imagens" /></td>



                </tr>
            }

        </table>
    </main>


    <footer></footer>
</body>
</html>